body{
    margin: 0;
    padding: 0;
    background-color: #777;
    color: snow;
    text-align: center;
}

.menor{
    color: tomato;
}
.mayor{
    color: aquamarine;
}

button{
    margin: 0px 0.5rem;
}